

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: rgb(255, 255, 255);
  position: relative;
  margin: 7.90rem auto;
  border-radius: 6px;
  max-width: 543px;
  padding: 0.5rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
  margin-bottom: 0.1px;
}

button {
  font-size: .9rem;
  border: none;
  border-radius: 3px;
  padding: 0.1rem 0.11rem;
  margin-left: 0.5rem;
}

.button-default {
  background: #13323f;
  color: #fff;
}
  input.submitButton{ 
   padding: 0.5rem 1.3rem;
   display: block;
   border: none;
   outline:none;
   cursor: pointer;
   margin-left: 40%;
   background: lightblue;
   align-items: center;

  }

  textarea{
      
    outline: lightblue;
  

  }

  
