.very-happy {
    background-color: #02ff0e;
}

.happy {
    background-color: #a0d800;
}

.meh {
    background-color: #d6ac00;
}

.sad {
    background-color: #f47800;
}

.very-sad {
    background-color: #fd3608;
}